<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ZadanieJuniorPHP</title>
    </head>
    <body>
		<div id="menu">
			<ul>
				<li class="personal_data">Wojciech Szczerbiński</li>
			</ul>
		</div>
		
    </body>
</html>
